* {
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri;
    font-size: 12px;
}

.topBar {
    display: flex;
    background-color: #333;
}

.topBarBlock {
    flex-basis: 33.33%;
    text-align: center;
    padding: 15px 0;
    font-size: 2em;
    color: whitesmoke;
}

.topBarBlock:nth-child(2) {
    text-transform: uppercase;
}

.gameArea {
    width: 80%;
    border: 1px solid #555;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.gameArea div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 25vh;
    box-sizing: border-box;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.done {
    background-color: grey;
}

.notDone {
    background-color: dodgerblue;
}

@media all and (max-width: 1200px) {
    .gameArea {
        width: 100%;
        border: 0;
        padding: 0;
    }
}

@media all and (max-width: 600px) {
    .gameArea div {
        flex-basis: 33.33%;
        height: calc((100vh - 60px)/6);
    }
    .topBarBlock:nth-child(2) {
        display: none;
    }
    .topBarBlock {
        flex-basis: 50%;
    }
}

@media all and (max-width: 768px) and (orientation: landscape) {
    .gameArea div {
        height: calc((100vh - 60px)/3);
    }
}