* {
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri;
    font-size: 12px;
}

.topBar {
    display: flex;
    background-color: #333;
}

.topBarBlock {
    flex-basis: 33.33%;
    text-align: center;
    padding: 15px 0;
    font-size: 2em;
    color: whitesmoke;
}

.gameArea {
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid #555;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.gameArea div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 25vh;
    box-sizing: border-box;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.done {
    background-color: grey;
}

.notDone {
    background-color: dodgerblue;
}

@media all and (max-width: 800px) {
    .gameArea {
        width: 100%;
        border: 0 solid black;
        padding: 2px;
    }
}